.flexRow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexColumnBetween {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexChildHumble {
  width: 35%;
  margin: 10px;
}

.flexChildGreedy {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paddingBasic {
  padding-left: 10px;
}

label {
  color: var(--pink-100);
  text-shadow: 2px 2px 5px var(--blue-100);
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Stylish', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  color: var(--blue-100);
  background-color: var(--blue-400);
  border: 2px solid var(--pink-100);
  border-radius: 8px;
}

button:hover {
  color: var(--blue-400);
  background-color: var(--blue-100);
}

button:active {
  color: var(--blue-300);
  background-color: var(--blue-200);
}

input {
  padding: 8px;
  font-family: 'Stylish', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  color: var(--blue-100);
  background-color: var(--blue-400);
  border: 2px solid var(--pink-100);
  border-radius: 8px;
}

input:focus {
  color: var(--blue-400);
  background-color: var(--blue-100);
}

img {
  max-width: 100%;
  border-radius: 10%;
  filter: drop-shadow(0px 0px 16px #1f1f23);
  margin: 16px;
}

h1 {
  color: var(--pink-100);
  text-shadow: 2px 2px 5px var(--blue-200);
}
