:root {
  --blue-100: #0e269e;
  --blue-200: #4e8bc4;
  --blue-300: #96cbfc;
  --blue-400: #c2e1fc;
  --pink-100: #ff99be;
  --pink-200: #ffc2d9;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-main {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
