body {
  height: 100%;
  margin: 0;
  font-family: 'Stylish', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom right,
    var(--blue-100),
    var(--pink-200)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
